

@media only screen and (max-width: 1024px) {

    #leftBannerContainer {
        width: 217px;
        background-image: url("../../assets/img/banner_for_mobile.jpg");
    }

}


@media only screen and (max-width: 768px) {

    #leftBannerContainer {
        display: none;
    }
}
